/* NavBar.css */

.MuiAppBar-root {
    background-color: #ffffff !important; /* Set the AppBar background to white */
    box-shadow: none; /* Box shadow with spread and offset */
    padding: 8px; /* Add padding */
  }
  
  .MuiButton-root {
    color: black !important; /* Set button text color to black */
    text-transform: none !important; /* Prevent buttons from displaying text in all caps */
  }
  
  .create-course-button {
    background-color: #003071 !important; /* Background hex color */
    color: white !important; /* Ensure text color is white */
    border-radius: 100px !important; /* Rounded corners */
    margin: 10px 24px; /* Optional: Add some margin between buttons */
  }
  