/* NavBar.css */

.MuiAppBar-root {
  background-color: #ffffff !important; /* Set the AppBar background to white */
  box-shadow: none; /* Remove shadow */
  padding: 12px; /* Add padding */
}

.MuiButton-root {
  color: black !important; /* Set button text color to black */
  text-transform: none !important; /* Prevent buttons from displaying text in all caps */
}

.create-course-button {
  background-color: #003071 !important; /* Background hex color */
  color: white !important; /* Ensure text color is white */
  border-radius: 100px !important; /* Rounded corners */
  padding: 24px 20px;
  margin-left: 12px !important; /* Add margin-left to separate it from the previous buttons */
  min-width: 96px !important;
}

.logout-button {
  background-color: #546de7 !important; /* Red background for logout */
  color: white !important; /* White text */
  border-radius: 100px !important; /* Rounded corners */
  margin-left: 12px !important; /* Add space between buttons */
  padding: 24px 20px; /* Adjust padding for consistency */
  min-width: 96px !important;
}

/* General nav-button styles */
.nav-button {
  padding: 20px;
  color: #000; /* Set text color */
  font-weight: normal;
  transition: color 0.3s ease, font-weight 0.3s ease; /* Smooth transition */
  margin-right: 24px; /* Add margin between nav buttons */
}

.nav-button.active {
  color: #6f00ff; /* Highlight color */
  font-weight: bold; /* Make text bold */
}
