/* SearchBar.css */
.search-bar-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns items to the top */
    /* Remove height: 100vh; */
    margin-top: 0; /* Remove margin here to control spacing from App.css */
}
